# ── Server ──────────────────────────────────────────────────
PORT=3000
APP_SECRET=28d5147672c04acc4115f5aa24902c9f76c3b4d282b003e5d93e97bc61c1c56e

# ── Salesforce OAuth 2.0 (Connected App) ────────────────────
SF_LOGIN_URL=https://orgfarm-bf423b639c-dev-ed.develop.my.salesforce.com
SF_CLIENT_ID=3MVG9dAEux2v1sLuyIfDtNfiLGYSqSu379bYOqfxXnlOpQ42z6t70R4G6Y2De8XdwZZeDsyltapsXmesWFxSs

SF_CLIENT_SECRET=13EDE2FECB9C40926F2C666A48A6F187FC995D68EA46CBD7729DB0BEEC28572A

SF_USERNAME=sharma931.sneha908@agentforce.com
SF_PASSWORD=Isha._016
SF_SECURITY_TOKEN=GDhxDNmHmDLKPOLkd4oRmTeZt

# ── Zendesk API ──────────────────────────────────────────────
ZD_SUBDOMAIN=d3v-astonous-28503
ZD_EMAIL=sneha.sharma@astonous.com
ZD_API_TOKEN=qJ9HrCgZEV2EJK3iH7ryzPEsiSxuztPo6Q2phI7r  

# Zendesk ticket custom field that stores the SF Case ID
ZD_SUBDOMAIN=d3v-astonous-28503
ZD_SF_CASE_FIELD_ID=46366615861265

# ── SQLite ───────────────────────────────────────────────────
DB_PATH=./data/mappings.db

